@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.gallery-wrapper {
  columns:150px;
}
@media screen and (max-width: 991px) {
  .gallery-wrapper {
    columns:130px;
  }
}
@media screen and (max-width: 640px) {
  .gallery-wrapper {
    columns:130px;
  }
}
/* .posts:not(:last-child) {
  margin-bottom: 16px;
} */
/* .small-pic img {
  max-height: 105px;
  width:100%;
} */
/* a:hover {
  color:#DD5415;
} */
/* .posts {
  transition: opacity 0.5s ease;
}
.posts.fade {opacity: 0!important;} */
/* .catgeories-list-item {
  @apply bg-white py-2 px-6 rounded-full text-blues font-semibold capitalize text-xs inline-block border border-blues hover:bg-blues hover:text-white cursor-pointer;
}
.catgeories-list-item.active {
  @apply bg-blues text-white;
} */